{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} New Event
{% endblock %}

{% block content %}
<div class="row mt-5">
	<div class="col-lg-6 mx-auto">
		<div class="card ">
			<div class="card-body">
				<h4 class="card-title">Event Details</h4>
				<p class="card-text">
					Please provide correct info for a new event.
				</p>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form | crispy }}
					<input type="submit" class="btn btn-primary" name="Submit" value="Save" />
				</form>
			</div>
		</div>
	</div>
{% endblock %}